# Ignorar tudo por padrão
*
*/
.*

# Não ignorar arquivos de configuração específicos
!.gitignore
!pubspec.yaml
!analysis_options.yaml
!README.md
!ROADMAP.md

# Não ignorar arquivos Docker/configuração
!Dockerfile
!docker-compose.yml

# Não ignorar scripts de build
!compilaApk.sh
!compartilhaApk.sh
!setup.sh
!bash.sh

# Não ignorar diretório android e seus arquivos específicos
!android/
!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/AndroidManifest.xml
!android/app/build.gradle
!android/build.gradle

# Não ignorar diretório public e favicon.ico
!public/
!public/favicon.ico

# Importar todo o código fonte em lib e assets
!lib/
!lib/**
!assets/
!assets/**

# Ignorar arquivos compilados e de build em qualquer pasta
**/*.apk
**/*.aab
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
